// Fuentes
$fuente-principal: "Manrope", sans-serif;

// Colores
$color-texto: rgb(148, 148, 145);
$color-principal: rgb(36, 36, 36);
$color-secundario: rgb(184, 181, 181);
$color-form: rgb(70, 68, 68);
$color-boton: rgb(135, 132, 132);
$color-boton-texto: rgb(37, 36, 36);
$color-footer: rgb(142, 141, 141);
$color-footer-texto: rgb(255, 255, 255);

// Grises
$gris-oscuro: rgb(99, 100, 101);
$gris-claro: rgb(138, 139, 141);
$gris-fondo: #f5f5f5;

// Breakpoints
$bp-md: 767px;
$bp-lg: 992px;
